<section class="navigation">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NEWS SCRAPER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link saved-link" href="/saved">Saved Articles</a>
            </div>
        </div>
    </nav>
</section>

<section class="main-banner-section">
    <div class="jumbotron banner d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-2">SAVED ARTICLES</h1>
    </div>
</section>

<section class="article-section">
    <div class="container article-container">
        {{#each article}}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="article-info">
                    <h3 class="article-headline">{{title}}</h3>
                    <p class="article-summary">{{summary}}</p>
                </div>
                <a class="article-link" href={{link}}>Go to article</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <button class="btn btn-warning article-comments" data-toggle="modal" data-target="#commentModal"
                    data-id={{_id}}>ARTICLE COMMENTS</button>
                <button class="btn btn-secondary delete-saved" data-id={{_id}}>DELETE SAVED ARTICLE</button>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container comment-container">
                </div>
                <form class="modal-form">
                    <div class="form-group">
                        <label for="commentBody">New comment:</label>
                        <textarea class="form-control" id="commentBody" name="body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>